.wrapper {
  padding: 20px;
}
.container {
  max-width: 450px;
  margin: 0 auto;
}

.title {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 57px;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;

  @media screen and (max-width: 360px) {
    font-size: 38px;
  }
}
